/* font family Wprk-sans By Google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*start-header-section*/

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 3.125rem 15rem;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > h3{
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
}

nav > ul{
    display: flex;
    gap: 3.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
}

nav > ul > li >a{
    color:  #424242;
}

nav > ul > li >a:hover{
    border-bottom: 2px solid #424242;
}
/*header-section-end*/


/*start-banner-section*/
.banner-con{
    max-width: 54.25rem;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    color:  #131313;
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 9rem;
}

.banner-discription{
    color:  #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 2rem;
}

.btn-explore-more{
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 0.5rem;
    background: #FF900E;
    border: none;
    padding: 1.25rem 1.563rem;
    margin: 2rem 0rem 3rem 0rem;
}

.btn-explore-more:hover{
    background-color: black;
}

.banner-img{
    width: 100%;
}
/* end-banner-section */


/* main section style */
main{
    padding: 3.125rem 15rem;
    background-color: aqua;
    margin-top: 8.125rem;
    
}

/* start-features-section */

.teams-container{
    display: flex;
    align-items: center;
    gap: 4.75rem;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

/* teams-title-style */

.teams-quick-list{
    color: #727272;
    font-size: 2.813rem;
    font-weight: 500;
}

.teams-of-our{
    color: #131313;
    font-size: 2.813rem;
    font-weight: 700;
    
}

.teams-features{
    color: #FF900E;
    font-size: 2.813rem;
    font-weight: 700;
}

.teams-discription{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 1.5rem;
}
/* features-section-end */
.features-container{
    display: flex;
    margin-top: 8.125rem;
    gap: 9.125rem;

}



.box-title{
    color:  #131313;
    font-size: 2.813rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    width: 29.25rem;
    border-left: 5px solid #FF900E;
}

.box-discription{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 36.625rem;
    margin-bottom: 1.875rem;
}

.same-box{
    width: 36.625rem;
    flex-shrink: 0;
    border-radius: 0.5rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 1.25rem;
    padding: 2.625rem 2.625rem 1.875rem 1.875rem;
}

.same-box-title{
    color: #131313;
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.some-box-discription{
    color:  #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 32.125rem;
}

.year-button{
    border-radius: 8px;
    background: #FF900E;
    position: absolute;
    left: 60rem;
    top: 202rem;
    padding: 2.413rem 2.525rem;
}

.year-title{
    color: #FFF;
    text-align: center;
    font-size: 3.063rem;
    font-weight: 700;
    line-height: 4.375rem;
}

.year-title-about{
    color: #FFF;
    font-size: 1.563rem;
    font-weight: 500;
    line-height: 2.5rem;
}






/* ------------------------------------------------------------------------------------------ */






/* responsive media screen */
@media screen and (max-width: 576px){
    /*start-header-section*/
    header{
        padding: 2rem;
       
    }

    nav{
        flex-direction: column-reverse;
        justify-content: space-around;

    }

    nav > h3{
        color: #131313;
        font-size: 2.2rem;
        font-weight: 800;
    }

    nav > ul{
        display: flex;
        justify-content: space-around;
        gap: 1.5rem;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 2rem;
        te

    }
/*header-section-end*/


/*start-banner-section*/
    .banner-con{
        max-width: 100%;
        margin: auto 0;
        text-align: left;
    }

    
    .banner-title{
        color:  #131313;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 4rem;
        
    }

    .banner-discription{
        color:  #727272;
        text-align: center;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.625rem;
        margin-top: 2rem;
        text-align: justify;
        text-justify: inter-word;
    }

    .btn-explore-more{
        color: #FFF;
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 0.3rem;
        background: #FF900E;
        border: none;
        padding: 0.512rem 0.650rem;
        margin: 1rem 0rem 1.5rem 0rem;
    }
/*banner-section-end*/


/*start-features-section*/
}